html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

#header {
    text-align: center;
    }

p {
    text-align: center;
}

#welcome {
    font-size: 14pt;
    font-weight: 600;
}

#start-button {
    padding: 15px 25px;
    background-color: #6610f2;
}

 /* Start media queries */
        /* A Media Query max-width: 400px */
        @media screen and (max-width: 400px) {
            /* Resized content to fit 400px  */
                body {
                    max-width: 400px;
                }
            /* Resized main-content to fit 400px  */
            #gutter {
                position: absolute;
                left: 5%;
            }
        }